@{
    ViewData["Title"] = "MyVault";
}





    <div class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
        optio, eaque rerum!
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <p>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Vault" asp-action="Index">MyData</a>
    </button>
    </p>
    <p>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Vault" asp-action="Upload">Upload Information</a>
    </button>
    </p>
